body {
    font-family: "Open Sans", sans-serif;
    margin: 0%;
    padding: 0%;
  }
  
  /*navbar*/
  nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 2;
  }
  nav:before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  #upper{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(234,239,255);
  }
  #upper ul{
    width: 28%;
    display: flex;
    list-style: none;
    gap: 10%;
    margin: 0.5% 20% 0.5% 7%;
  }
  #upper ul li {
    font-weight: 300;
  }
  #upper ul :nth-child(1) {
    color: rgb(254,92,36);
  }
  #social{
    width: 10%; 
    display: flex;
    list-style: none;
    gap: 10%;
    margin: 0.5% 3% 0.5% 10%;
  }
  #upper img{
    width: 15px;
    height: 15px;
  }
  #tel{
    display: flex; flex-wrap: nowrap;
    gap: 5%;
    margin: 0.5% 0% 0.5% 0%;
    width: 10%;
    height: 15px;
  }
  #tel p{
  color: black;
  font-size: small;
  line-height: 0%;
  padding-top: 5px;
  }
  #lower{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgb(255,255,255);  
    border-bottom: 1px solid beige;      
  }
  #logo{
    margin: 2% 10%;
  }
  #lower ul{
   
    width: 50%;
    display: flex;
    list-style: none;
    gap: 5%;
    margin: 2% 0%;
  }
  #lower button{
    width: 12%;
    height: 50px;
    background-color: rgb(254,92,36);
    color: whitesmoke;
    border: 1px solid rgb(254,92,36);
    margin: 1.5% 13%;
    font-size: large;
  }
  
  
  .item a:hover{
    color: rgb(254,92,36);
  }
  .item a{
    text-decoration: none;          
    color: rgb(90,62,114);
    font-size: large;
  }
  
  #msnavdrop {
    position: fixed;
    visibility: hidden;
    z-index: 5;
    margin-top: 80px;
    width: 100%;
    height: 280px;
    background-color: whitesmoke;
  }
  #msnavdrop > div {
    font-size: 20px;
    margin-left: 10%;
    height: 280px;
  }
  #msnavdrop > div > div {
    margin-top: 20px;
    cursor: pointer;
  }
  #msnavdrop > div > div:hover {
    color: rgb(254,92,36);
  }
  #msnavdrop > div > div > div {
    margin-top: 10px;
    padding: 5px 0 5px 20px;
    border-radius: 5px;
    width: 85%;
  }
  #msnavdrop > div > div > div {
    color: black !important;
    cursor: default;
    font-size: 17px;
  }
  #msnavdrop > div > div > div > div,a {
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin-left: 0;
  }
  .mssub {
    display: none;
  }
  
  /*footer*/
  
  footer{
    width: 100%;
    background-color: rgb(22,43,69);
    padding-top: 5%;
    margin-top: 50px;
    height: 560px;
  }
  #box{
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    gap: 5%;
    flex-wrap: nowrap;
    background-color: rgb(22,43,69);
  }
  #box h4{
    font-size: large;
    font-weight: 100;
  }
  #text{
    width: 100%;
    height: 50px;
    background-color: rgb(8,34,58);
    color: aliceblue;
    font-size: large;
    text-align: center;
    padding-top: 2.5%;
  }
  #text b{
    color: rgb(254,92,36);
    font-weight: 100;
  }
  #b1{
    width: 33%;
    padding: 2%;
    display: grid;
    color: aliceblue;
    text-decoration: none;
    grid-template-areas: "a a"
                         "b c"
                         "b c";
  }
  #b1s1{
    grid-area: a;
    margin-left: 10%;
  }
  #b1s2{
    grid-area: b;
    list-style: none;
    line-height: 200%;
  }
  #b1s3{
    grid-area: c;
    list-style: none;
    line-height: 200%;
  }
  #b1 a{
    text-decoration: none;
    color: aliceblue;
  }
  #b2{
    width: 33%;
    color: aliceblue;
    text-decoration: none;
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10%;
  }
  #b2 input{
    height: 50px;
    width: 60%;
    background-color: rgb(9,39,66);
    border: 2px solid rgb(9,39,66);
  }
  #b2 button{
    height: 50px;
    width: 13%;
    background-color: rgb(254,92,36);
    border: 2px solid rgb(254,92,36);
  }
  #b2 i{
    height: 15px;
    width: 15px;
    color: aliceblue;
  }
  #b2 p{
    font-size: larger;
    color: aliceblue;
  }
  #b3{
    width: 33%;
    color: aliceblue;
    text-decoration: none;
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
  }
  #b3>h4+p {
    font-size: large;
    color: aliceblue;
  }
  #b3>p+p {
    color: rgb(254,92,36);
  }
  #b3 i{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: aliceblue;
  }
  #b3 i:hover{
    color: rgb(254,92,36);
  }
  
  
  
  
  
  .div1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("https://preview.colorlib.com/theme/martine/img/xbreadcrumb.png.pagespeed.ic.OfmcEjG4sq.jpg");
  
    /* background-color: rgb(6,38,73); */
    height: 393px;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .packageContent {
    padding: 0%;
    text-align: center;
    font-size: 16px;
    font-family: "Open sans", sans-serif;
    line-height: 1.2em;
    font-weight: 600;
  }
  .packageText {
    font-family: "Open sans", sans-serif;
    padding: 0%;
    font-size: 80px;
    height: fit-content;
    font-weight: 600;
    color: white;
  }
  
  .breakdiv2media2 {
    display: none;
  }
  .breakdiv2media1 {
    display: block;
  }
  .MadivAsia {
    font-size: 30px;
  }
  
  .breakdiv2media3 {
    display: none;
  }
  
  .div2 {
    margin-top: 110px;
    text-align: center;
  }
  .div3dark {
    color: rgba(0, 0, 0, 0.6);
  }
  
  h2 {
    font-size: 45px;
    color: rgb(12, 62, 114);
    line-height: 45px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  p {
    color: rgba(0, 0, 0, 0.4);
    line-height: 28px;
    word-spacing: 0.5px;
  }
  
  .checked {
    color: rgb(252, 180, 47);
    margin-left: 5px;
  }
  
  .hotelHeading {
    margin-top: 30px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(12, 80, 137);
  }
  
  .hotelcard {
    width: fit-content;
  }
  
  hr {
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0.1px;
  }
  
  .hotel {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 77px;
  }
  
  .hotelcontent {
    line-height: 34px;
  }
  
  .div3 {
    background-image: url("https://preview.colorlib.com/theme/martine/img/xevent_bg.png.pagespeed.ic.hDegBD_q05.jpg");
    height: 820px;
    margin-top: 110px;
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
  
    justify-content: space-evenly;
    align-items: center;
  }
  #slide1 {
    width: 545px;
    height: 555px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 25px;
    position: relative;
  }
  
  .slideContainer1 {
    height: fit-content;
  
    width: 85%;
    display: flex;
    justify-content: flex-end;
  }
  
  #div3date {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .div3dark {
    color: rgba(0, 0, 0, 0.6);
  }
  .btnPlan {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #fe5c24;
    padding: 17px 30px;
    color: white;
    border: 0px;
    margin-top: 20px;
  }
  
  .btnPlan:hover {
    background-color: #007bff;
  }
  
  .slidebtnd3 {
    height: 80px;
    width: 80px;
    font-size: 33px;
    color: orangered;
    border-radius: 50%;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .sliderightdiv3 {
    position: relative;
    right: 25px;
  }
  .slideleftdiv3 {
    position: relative;
    left: 25px;
  }
  .div4 {
    margin-top: 110px;
    text-align: center;
  }
  .div5CardHeading {
    text-decoration: none;
    font-size: 24px;
    color: rgb(12, 80, 137);
  }
  
  a {
    text-decoration: none;
  }
  .div5 {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }
  
  .breakdiv2media2 {
    display: none;
  }
  .breakdiv2media1 {
    display: block;
  }
  .MadivAsia {
    font-size: 30px;
  }
  
  .breakdiv2media3 {
    display: none;
  }
  
  
  @media screen and (max-width: 1174px) {
    #navbar {
      display: flex;
    }
    #upper {
        display: none;
    }
    #lower{
        height: 80px;
    }
    #logo img{
        margin-top: 10px;
    }
    #lower ul {
        display: none;
    }
    .book {
        display: none;
    }
    .item {
        display: none;
    }
    #blogdrop {
        display: none;
    }
    #pagesdrop {
        display: none;
    }
  
    #burger {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 85%;
        cursor: pointer;
    }
    #burger > div {
        width: 90%;
        height: 1px;
        background-color: rgb(41, 41, 41);
        border: 1px solid rgb(41, 41, 41);
        margin: auto;
    }
    footer{
        width: 100%;
        background-color: rgb(22,43,69);
        padding-top: 5%;
        height: 1060px;
    }
    #text{
      font-size: small;
    }
    #box{
        display: flex;
        flex-wrap: wrap;
        height: 1000px;
        background-color: rgb(22,43,69);
    }
    #b1{
        width: 90%;
        margin: auto;
    }
    #b2{
        width: 90%;
        margin: auto;
    }
    #b2 p{
      font-size: 15px;
    }
    #b3{
        width: 90%;
        margin: auto;
    }
  
    #b3 h4+p{
      font-size: 15px;
    }
    #text{
      font-size: 15px;
    }
  }
  
  
  
  
  
  
  
  @media screen and (min-width: 751px) and (max-width: 1174px) {
   
  
    .div1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url("https://preview.colorlib.com/theme/martine/img/xbreadcrumb.png.pagespeed.ic.OfmcEjG4sq.jpg");
  
      /* background-color: rgb(6,38,73); */
      height: 393px;
      color: white;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
    }
  
    .packageContent {
      padding: 0%;
      text-align: center;
      font-size: 22px;
      font-family: "Open sans", sans-serif;
      line-height: 1.2em;
      font-weight: 400;
    }
    .packageText {
      font-family: "Open sans", sans-serif;
      padding: 0%;
      font-size: 50px;
      height: fit-content;
      font-weight: 400;
      color: white;
    }
  
    .breakdiv2media2 {
      display: block;
    }
    .breakdiv2media1 {
      display: none;
    }
    .MadivAsia {
      font-size: 30px;
    }
  
    .breakdiv2media3 {
      display: none;
    }
  
    .div3dark {
      color: rgba(0, 0, 0, 0.6);
    }
  
    .div2 {
      margin-top: 110px;
      text-align: center;
    }
  
    h2 {
      /* font-size: 45px;
          color: rgb(12, 62, 114);
          line-height: 45px;
          letter-spacing: 2px; */
  
      font-size: 28px;
      word-spacing: 0px;
      line-height: 5px;
      font-weight: 600;
    }
    p {
      color: rgba(0, 0, 0, 0.4);
      line-height: 28px;
      word-spacing: 0.5px;
    }
  
    .checked {
      color: rgb(252, 180, 47);
      margin-left: 5px;
    }
  
    .hotelHeading {
      margin-top: 30px;
      text-decoration: none;
      font-size: 24px;
      color: rgb(12, 80, 137);
    }
  
    .hotelcard {
      width: 330px;
     
      box-sizing: border-box;
      border-collapse: collapse;
      margin-top: -10px;
    }
    .hotelcard > img {
      width: 330px;
      margin-right: 30px;
    }
    hr {
      border: solid rgba(0, 0, 0, 0.2);
      border-width: 0.1px;
      width: 330px;
    }
  
    .hotel {
      display: flex;
      justify-content: flex-start;
      
      box-sizing: border-box;
      padding-left: 23px;
      flex-wrap: wrap;
      margin-top: 77px;
      width: 755px;
      margin: auto;
      margin-top: 78px;
      
    }
  
    .hotelcontent {
      line-height: 34px;
    }
  
    .div3 {
      background-image: url("https://preview.colorlib.com/theme/martine/img/xevent_bg.png.pagespeed.ic.hDegBD_q05.jpg");
      height: 650px;
      margin-top: 110px;
      display: flex;
      box-sizing: border-box;
      padding-top: 20px;
      justify-content: space-evenly;
      align-items: center;
    }
    #slide1 {
      width: 330px;
      height: 500px;
      background-color: white;
      box-sizing: border-box;
      padding-left: 20px;
      padding-top: 15px;
      position: relative;
    }
  
    .slideContainer1 {
      height: fit-content;
      width: 85%;
      display: flex;
      justify-content: flex-end;
    }
  
    #div3date {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.8);
    }
  
    .div3dark {
      color: rgba(0, 0, 0, 0.6);
    }
    .btnPlan {
      font-weight: 500;
      font-size: 16px;
      text-transform: capitalize;
      background-color: #fe5c24;
      padding: 17px 30px;
      color: white;
      border: 0px;
      margin-top: 20px;
    }
  
    .btnPlan:hover {
      background-color: #007bff;
    }
  
    .slidebtnd3 {
      display: none;
      height: 80px;
      width: 80px;
      font-size: 33px;
      color: orangered;
      border-radius: 50%;
      border: 0px;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .sliderightdiv3 {
      position: relative;
      right: 25px;
    }
    .slideleftdiv3 {
      position: relative;
      left: 25px;
    }
    .div4 {
      margin-top: 110px;
      text-align: center;
    }
    .div5CardHeading {
      margin-top: 5px;
      text-decoration: none;
      font-size: 24px;
      color: rgb(12, 80, 137);
    }
  
    a {
      text-decoration: none;
    }
    .div5 {
      margin-top: 75px;
      display: grid;
      justify-content: center;
      grid-template-columns: 330px 330px;
      column-gap: 30px;
      row-gap: 20px;
    }
    .divcard > img {
      width: 330px;
    }
  
    #div2img {
      width: 85%;
    }
  
    .breakdiv2media1 {
      display: none;
    }
    .breakdiv2media2 {
      display: block;
    }
    .breakdiv2media3 {
      display: none;
    }
  
    .MadivAsia {
      font-size: 30px;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 751px) {
    #navbar {
      display: flex;
    }
    #upper {
        display: none;
    }
    #lower{
        height: 80px;
    }
    #logo img{
        margin-top: 10px;
    }
    #lower ul {
        display: none;
    }
    .book {
        display: none;
    }
    .item {
        display: none;
    }
    #blogdrop {
        display: none;
    }
    #pagesdrop {
        display: none;
    }
  
    #burger {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 85%;
        cursor: pointer;
    }
    #burger > div {
        width: 90%;
        height: 1px;
        background-color: rgb(41, 41, 41);
        border: 1px solid rgb(41, 41, 41);
        margin: auto;
    }
  
  
  
  
  
  
  
  
  
    .div1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url("https://preview.colorlib.com/theme/martine/img/xbreadcrumb.png.pagespeed.ic.OfmcEjG4sq.jpg");
  
      /* background-color: rgb(6,38,73); */
      height: 393px;
      color: white;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
    }
  
    .packageContent {
      padding: 0%;
      text-align: center;
      font-size: 22px;
      font-family: "Open sans", sans-serif;
      line-height: 1.2em;
      font-weight: 400;
    }
    .packageText {
      font-family: "Open sans", sans-serif;
      padding: 0%;
      font-size: 50px;
      height: fit-content;
      font-weight: 400;
      color: white;
    }
  
    .breakdiv2media2 {
      display: none;
    }
    .breakdiv2media1 {
      display: none;
    }
    .MadivAsia {
      font-size: 30px;
    }
  
    .breakdiv2media3 {
      display: block;
    }
  
    .hoteldark {
      color: rgba(0, 0, 0, 0.6);
    }
  
    .div2 {
      margin-top: 110px;
      text-align: center;
    }
  
    h2 {
      /* font-size: 45px;
              color: rgb(12, 62, 114);
              line-height: 45px;
              letter-spacing: 2px; */
  
      font-size: 28px;
      word-spacing: 0px;
      line-height: 35px;
      font-weight: 400;
    }
    p {
      color: rgba(0, 0, 0, 0.4);
      line-height: 28px;
      word-spacing: 0.5px;
    }
  
    .checked {
      color: rgb(252, 180, 47);
      margin-left: 5px;
    }
  
    .hotelHeading {
      margin-top: 30px;
      text-decoration: none;
      font-size: 24px;
      color: rgb(12, 80, 137);
    }
  
    .hotelcard {
      width: 330px;
     
      box-sizing: border-box;
      border-collapse: collapse;
      margin-top: -10px;
    }
    .hotelcard > img {
      width: 433px;
      margin-right: 30px;
    }
    hr {
      border: solid rgba(0, 0, 0, 0.2);
      border-width: 0.1px;
      width: 433px;
    }
  
    .hotel {
      display: flex;
      justify-content: flex-start;
      
      box-sizing: border-box;
      padding-left: 15px;
      flex-wrap: wrap;
      margin-top: 77px;
      width: 463px;
      margin: auto;
      margin-top: 78px;
      
    }
  
    .hotelcontent {
      line-height: 34px;
    }
  
    .div3 {
      background-image: url("https://preview.colorlib.com/theme/martine/img/xevent_bg.png.pagespeed.ic.hDegBD_q05.jpg");
      height: 650px;
      margin-top: 110px;
      display: flex;
      box-sizing: border-box;
      padding-top: 20px;
      justify-content: center;
      align-items: center;
    }
    #slide1 {
      width: 430px;
      height: 472px;
      background-color: white;
      box-sizing: border-box;
      padding-left: 20px;
      padding-top: 1px;
      position: relative;
    }
  
    .slideContainer1 {
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    #div3date {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.8);
    }
  
    .div3dark {
      color: rgba(0, 0, 0, 0.6);
    }
    .btnPlan {
      font-weight: 500;
      font-size: 16px;
      text-transform: capitalize;
      background-color: #fe5c24;
      padding: 17px 30px;
      color: white;
      border: 0px;
      margin-top: 10px;
    }
  
    .btnPlan:hover {
      background-color: #007bff;
    }
  
    .slidebtnd3 {
      display: none;
      height: 80px;
      width: 80px;
      font-size: 33px;
      color: orangered;
      border-radius: 50%;
      border: 0px;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .sliderightdiv3 {
      position: relative;
      right: 25px;
    }
    .slideleftdiv3 {
      position: relative;
      left: 25px;
    }
    .div4 {
      margin-top: 110px;
      text-align: center;
    }
    .div5CardHeading {
      margin-top: 5px;
      text-decoration: none;
      font-size: 24px;
      color: rgb(12, 80, 137);
    }
  
    a {
      text-decoration: none;
    }
    .div5 {
      margin-top: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-template-columns: 330px;
      gap: 10px;
      width: 400px;
      margin: auto;
      box-sizing: border-box;
    }
  
    .divcard > img {
      width: 400px;
      margin-top: 20px;
    }
  
    #div2img {
      width: 95%;
    }
  
    .breakdiv2media1 {
      display: none;
    }
    .breakdiv2media2 {
      display: none;
    }
    .breakdiv2media3 {
      display: block;
    }
    .MadivAsia {
      font-size: 30px;
      margin-top: -5px;
    }
  }